**/bin/
**/obj/

.vs/
*.suo
*.user
*.sln.docstates

*.csproj.user
*.vbproj.user

**/publish/
**/PublishProfiles/

**/packages/*
!**/packages/repositories.config
!**/packages.config

TestResults/
*.trx
*.coverlet.json
*.ncrunch*
*. mở

*~
*.tmp
*.bak
*.temp

.idea/